<ion-nav-bar align-title="center" class="bar-positive">
  <ion-nav-back-button>
    <i class="ion-arrow-left-c"></i> Назад
  </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-icon-middle tabs-color-active-positive">
  <!-- Dashboard Tab -->
  <ion-tab icon="ion-home" href="#/app/home">
    <ion-nav-view name="home"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab icon="ion-search" href="#/app/rubrics">
    <ion-nav-view name="rubrics"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab icon="ion-ios-cart" href="#/tab/cart">
    <ion-nav-view name="tab-cart"></ion-nav-view>
  </ion-tab>
</ion-tabs>
