.nav-bar-block {
  .button.back-button {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.home-page-scroll {
  .scroll {
    display: flex;

    margin: -4px;

    &:before,
    &:after {
      display: block;
      content: '';

      flex-shrink: 0;
      width: 3px;
    }

    .element {
      flex-shrink: 0;
      width: calc(50% - 5% - 2px);
      margin: 4px;
    }
  }
}

.modal-backdrop.active {
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-filters {
  top: unset;
  bottom: 0;

  min-height: 200px;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
