<div class="card">
  <div ui-sref="app.product({id: card.id})" class="item item-divider">
    {{card.title}}
  </div>
  <div class="item item-text-wrap">
    <button ng-click="changeTitle()" class="button button-positive">
      change title
    </button>
  </div>
</div>
