<ion-view view-title="Прокат">
  <ion-nav-buttons side="primary">
    <button class="button">
      Yo!
    </button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <app-card
      ng-repeat="card in cards"
      card="card"
      test="test"
      on-title-changed="cardTitleChanged(payload, test)"
    ></app-card>

    <div class="button-bar bar-balanced">
      <button ng-click="openPopover($event)" class="button">
        Open Popover
      </button>

      <button ng-click="openModal()" class="button">
        Open Modal
      </button>
    </div>

    <ion-scroll width="100%" direction="x" class="home-page-scroll">
      <app-card
        ng-repeat="card in cards"
        card="card"
        on-title-changed="cardTitleChanged(payload, test)"
        class="element"
      ></app-card>
    </ion-scroll>
  </ion-content>
</ion-view>
