<ion-modal-view class="modal-filters">
  <ion-header-bar>
    <h1 class="title">My Modal title</h1>
  </ion-header-bar>
  <ion-content class="padding">
    Hello!
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div ng-click="closeModal()" class="title">Закрыть</div>
  </div>
</ion-modal-view>
